{{ form_start(form) }}
<div class ="mb-5">
    {# {{ form_widget(form) }} #}
</div>

<div class="row text-center">
        <div class="col-md-3 mb-3">
            {{ form_row(form.firstname) }} 
        </div>

        <div class="col-md-3 mb-3">
          {{ form_row(form.lastname) }}
        </div>

        <div class="col-md-3 mb-3">
          {{ form_row(form.birthdate) }}
        </div>
</div>
<div class="row text-center">
        <div class="col-md-3 mb-3">
            {{ form_row(form.email) }} 
        </div>

        <div class="col-md-3 mb-3">
          {{ form_row(form.password) }}
        </div>
</div>
    <div class = "text-center mx-3">
    <button class="btn btn-success btn-lg my-5 " >{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}