{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="container">
     <h1 class="text-center"></h1>
        

   
{{ form_start(form) }}
    {{ form_row(form.team) }}    
    {{ form_row(form.user) }} 
    {{ form_row(form.result) }} 
     <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}    <a href="{{ path('user_home', {slug : app.user.slug}) }}">retour à l'accueil</a>



    </div>
{% endblock %}
