{% extends 'base.html.twig' %}

{% block title %}{{test.name}}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">{{test.name}} (en {{test.unit}})</h1>
        <p>Description du test : {{test.description}}</p>

   

    {{ include('common/_form.html.twig') }}

    {% if id is defined %}
    'bibobob'{{  id}}
    {% endif %}
    <a href="{{ path('user_home', {slug : app.user.slug}) }}">retour à l'accueil</a>
    </div
{% endblock %}
