{% extends 'base.html.twig' %}

{% block title %}Hello CommonController!{% endblock %}

{% block body %}


        <div class="container">

            <div class="row text-center mt-5">
                <h2>Tests Techniques</h2>
                
            </div>




        <!-- START Tab links -->
        <div class="row text-center mt-5">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link text-secondary active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Jongles</button>
                <button class="nav-link text-secondary" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Passes</button>
                <button class="nav-link text-secondary" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Dribbles</button>
                <button class="nav-link text-secondary" id="tirs" data-bs-toggle="tab" data-bs-target="#nav-tirs" type="button" role="tab" aria-controls="nav-tirs" aria-selected="false">Vitesse</button>           
                </div>
            </nav>
        </div>
        <!-- END Tab links -->

        <!-- START tab content -->
        <div class="tab-content" id="nav-tabContent">
            <!-- START TAB JONGLES -->
            <div class="tab-pane fade show active " id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <!-- START CONTAINER -->
                <div class="container">
                    <p class="mt-4">Cette section contient tous les tests de jongles. Jongler permet de travailler le contact du pied avec le ballon, donc d'améliorer son toucher de balle. C'est aussi un très bon moyen pour le joueur de parfaire son équilibre, sa coordination ainsi que sa reprise d'appui.</p>
                    <!-- START ROW -->
                    <div class="row row-vignette my-4 d-flex justify-flex-start ">
                    
                        {% for tagTest in tagTests %}
                        {% if 'Jongles' in tagTest.tag.name %}
                        <!-- vignette 1 -->
                        <div class="col-12 col-md-6 col-xl-4">
                            <div class="my-3 mx-auto card vignette-card-dimension resultblock">
                                <a href="{{path('one_test', {id : tagTest.test.id})}}">
                                    <div class="vignette-tests  bg-image-tests " style="background-image: url('./assets/img/jongles.jpg')">        
                                        <div class="card-body image-tests" >
                                            <h5 class="card-title image-tests-common image-tests-header">{{tagTest.test.name}}, ({{tagTest.tag.name}})</h5>

                                            <h6 class="image-tests-common image-tests-footer image-tests image-tests-bandeau">{{tagTest.test.description}}</h6> 
                                        </div>
                                            
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <!-- END ROW --> 
                </div>
                <!-- END Container -->       
            </div>
            <!-- END TAB Jongles-->

            <!-- START TAB PASSES -->
            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <!-- START CONTAINER -->
                <div class="container">
                    <p class="mt-4">Cette section contient tous les tests de passes. Passes en mouvement ou arrétées, passses à 10, 25m  et plus.</p>
                    <!-- START ROW -->
                    <div class="row row-vignette my-4 d-flex justify-flex-start ">

                        {% for tagTest in tagTests %}
                        {% if 'Passes' in tagTest.tag.name %}
                        <!-- vignette 1 -->
                        <div class="col-12 col-md-6 col-xl-4">
                            <div class="my-3 mx-auto card vignette-card-dimension resultblock">
                                <a href="file:///var/www/html/projet-20-easy-sports-tests/technical_tests.html">
                                    <div class="vignette-tests  bg-image-tests " style="background-image: url('./assets/img/jongles.jpg')">        
                                        <div class="card-body image-tests" >
                                            <h5 class="card-title image-tests-common image-tests-header">{{tagTest.test.name}}, ({{tagTest.tag.name}})</h5>

                                            <h6 class="image-tests-common image-tests-footer image-tests image-tests-bandeau">{{tagTest.test.description}}</h6> 
                                        </div>
                                            
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <!-- END ROW -->
                </div>
                <!-- END CONTAINER -->
            </div>
            <!-- END TAB PASSES -->
            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <!-- START CONTAINER -->
                <div class="container">
                    <p class="mt-4">Cette section contient tous les tests de passes. Passes en mouvement ou arrétées, passses à 10, 25m  et plus.</p>
                    <!-- START ROW -->
                    <div class="row row-vignette my-4 d-flex justify-flex-start ">

                        {% for tagTest in tagTests %}
                        {% if 'Dribbles' in tagTest.tag.name %}
                        <!-- vignette 1 -->
                        <div class="col-12 col-md-6 col-xl-4">
                            <div class="my-3 mx-auto card vignette-card-dimension resultblock">
                                <a href="file:///var/www/html/projet-20-easy-sports-tests/technical_tests.html">
                                    <div class="vignette-tests  bg-image-tests " style="background-image: url('./assets/img/jongles.jpg')">        
                                        <div class="card-body image-tests" >
                                            <h5 class="card-title image-tests-common image-tests-header">{{tagTest.test.name}}, ({{tagTest.tag.name}})</h5>

                                            <h6 class="image-tests-common image-tests-footer image-tests image-tests-bandeau">{{tagTest.test.description}}</h6> 
                                        </div>
                                            
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <!-- END ROW -->
                </div>
                <!-- END CONTAINER -->
            </div>
            <div class="tab-pane fade" id="nav-tirs" role="tabpanel" aria-labelledby="tirs">
                <!-- START CONTAINER -->
                <div class="container">
                    <p class="mt-4">Cette section contient tous les tests de passes. Passes en mouvement ou arrétées, passses à 10, 25m  et plus.</p>
                    <!-- START ROW -->
                    <div class="row row-vignette my-4 d-flex justify-flex-start ">

                        {% for tagTest in tagTests %}
                        {% if 'Vitesse' in tagTest.tag.name %}
                        <!-- vignette 1 -->
                        <div class="col-12 col-md-6 col-xl-4">
                            <div class="my-3 mx-auto card vignette-card-dimension resultblock">
                                <a href="file:///var/www/html/projet-20-easy-sports-tests/technical_tests.html">
                                    <div class="vignette-tests  bg-image-tests " style="background-image: url('./assets/img/jongles.jpg')">        
                                        <div class="card-body image-tests" >
                                            <h5 class="card-title image-tests-common image-tests-header">{{tagTest.test.name}}, ({{tagTest.tag.name}})</h5>

                                            <h6 class="image-tests-common image-tests-footer image-tests image-tests-bandeau">{{tagTest.test.description}}</h6> 
                                        </div>
                                            
                                    </div>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <!-- END ROW -->
                </div>
                <!-- END CONTAINER -->
            </div>

            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
            <div class="tab-pane fade" id="nav-tirs" role="tabpanel" aria-labelledby="nav-tirs-tab">...</div>
        </div>
    {% endblock %}